.result-text {
    overflow:hidden !important;
    white-space:nowrap !important;
    -ms-text-overflow:ellipsis !important;
    text-overflow:ellipsis !important;
    width:150px;
    height:1.2em;
}