
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.about-banner{
    background-color:#f7f5f4;
    font-family: Poppins;
    text-align: center;
    color: rgba(95, 95, 95, 0.562);
}

.about-banner h2{
    font-family: Lora;
    color: black;
}

.card{
    text-align: center;
}

.card-subtext{
    color: grey;
    letter-spacing: 2px;
    font-size: 11px;
    text-transform: uppercase;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    object-fit: cover;
    height: 285px;
}