.keith {
  background-color: #f7f5f4;
}
.keith h3 {
  font-family: Lora;
}
.keith p {
  color: #5a524d;
}

.keith h1 {
  color: #6c757d;
  font-size: large;
}

.keith-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 25px;
}
.keith-img-container {
  padding: 5.5rem;
  border-radius: 25px;
}
.keith-textbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  padding-bottom: 9rem;
}
.keith-btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.7rem;
}
