.trenton {
    background-color: #f7f5f4;
}
.trenton h3 {
    font-family: Lora;
}
.trenton p {
    color: #5a524d;
}
.trenton-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}
.trenton-img-container {
    padding: 5.5rem;
}
.trenton-textbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    padding-bottom: 9rem;
}
.trenton-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.7rem;
}
