.yg {
  background-color: #f7f5f4;
}
.yg h1 {
  font-family: Lora;
  color: #6c757d;
  font-size: large;
}
.yg h3 {
  font-family: Lora;
}
.yg p {
  color: #5a524d;
}
.yg-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 250px;
  height: 250px;
}
.yg-textbox {
  display: block;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /*width: 40%;*/
  text-align: center;
  padding-bottom: 9rem;
}
.text-container {
  /*margin-left: 10rem;*/
  /*margin-right: 10rem;*/
  padding: 1rem;
}

.yg-btn {
  margin: 1rem;
}

