.Jumbotron {
    padding-left: 5rem;
}

.Jumbotron h1 {
    font-weight: 700;
    font-size: 3rem;
}

.Jumbotron p {
    font-size: 1.5rem;
}

.category-container {
    margin-top: 2rem;
    padding-left: 0;
    padding-right: 0;
}

.card-container {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.vertical-center .row {
    display: flex;
    align-items: center;
  }

.category-title {
    margin-top: 5rem;
    text-align: left;
}
