.Jumbotron {
    padding-left: 5rem;
}

.Jumbotron h1 {
    font-weight: 700;
    font-size: 3rem;
}

.Jumbotron p {
    font-size: 1.5rem;
}

.featured-category-container {
    padding-top: 1rem;
}

.card-container {
    margin-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-title {
    margin-top: 3rem;
    text-align: left;
}

.h2-link {
    color: #444;
}