.Jumbotron {
    padding-left: 5rem;
}

.Jumbotron h1 {
    font-weight: 700;
    font-size: 3rem;
}

.Jumbotron p {
    font-size: 1.5rem;
}

.category {
    padding: "50px";
}

.price-condition {
    font-weight: 600;
}

.card-container {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

